/node-express/node_modules/
/backend-php/vendor/
/backend-php/node_modules/
/backend-php/package-lock.json
/backend-php/composer.lock
.gitigniore
/backend-php/public_html/assets/js/flowbite.min.js
/backend-php/public_html/assets/styles/global.css
/backend-phpconfig/config.php