/node-service/node_modules/
/backend-php/vendor/
/docker-data/secrets
/backend-php/node_modules/
/backend-php/package-lock.json
/backend-php/composer.lock
.gitignore
/backend-php/public_html/assets/js/flowbite.min.js
/backend-php/public_html/assets/styles/global.css
/backend-phpconfig/config.php