@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-acceuil {
    background-image: url('../images/bg-acceuil-1.png');
    background-repeat: no-repeat;
    background-size: inherit;
    background-attachment: fixed;
    background-position: center;
}

/* DEBUG BAR CSS */
.debug-min {
    max-height: 60px;
}

.debug-max {
    max-height: calc(100vh / 2);
}

/* Ajustement de la taille du main */
.min-h-main {
    min-height: calc(100vh - 275px);
}