@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Instruction";
    src: url("../font/Instruction.otf") format("truetype");
}

/* `.bg-acceuil` est une classe appelé par la balise main de la page d'acceuil,
 * elle permet de figé l'image d'arrière-plan 
 */
.bg-acceuil {
    background-image: url('../images/bg-acceuil-1.png');
    background-repeat: no-repeat;
    background-size: inherit;
    background-attachment: fixed;
    background-position: center;
    margin-top: 1.5rem;
    width: 100%;
}

/* CSS JS */
.red-border {
    border-color: crimson !important;
}

/* DEBUG BAR CSS */
.debug-min {
    max-height: 60px;
}

.debug-max {
    max-height: calc(100vh / 2);
}

/* Ajustement de la taille du main */
.min-h-main {
    min-height: calc(100vh - 275px);
}

/* `#font` utilise le fichier déclaré par @font-face et modifie la Police d'écriture
 * des boutons ayant l'id 'font' dans Slider.php  
 */
#font {
    font-family: "Instruction";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #308636;
}


/* Dark theme scrollbar */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
    background: #d6d6d6;
    border-radius: 5px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #863630;
    }

}

/* The Modal (background) 
display: flex;
    z-index: 61;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 63px;*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}
/* .modal:active{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 63px;
} */

/* Modal Content 
position: absolute;
z-index: 15;
background: white;*/
.modal-content {
  border-radius: 15px;
  position: relative;
  background: #fefefe;
  margin-left: auto;
  left: -40px;
  top: -4px;
  padding: 0;
  border: 1px solid #888;
  width: 40rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:-4px; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:-4px; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  border-radius: 15px;
  background: linear-gradient(#dedede, white);
  
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  border-radius: 15px;
  background: linear-gradient(white, #dedede);
  
}

#suggestions {
  max-height: 200px;
  overflow-y: auto;
}

#suggestions div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#suggestions div:hover {
  background-color: #f0f0f0;
}